extends ../layout

block script
	script window.incsp = 1;eval('window.incspEval = "incspEval"');
	script(src="//j1.58cdn.com.cn/crop/biz/m/lunaSpecial/js/special_huangye_B_v20191101104831.js")
	script(src="/javascripts/javascript.js")