extends ../layout

block content
	ul
		li <a href="/startCSP/csp">只用Content-Security-Policy</a>
		li <a href="/startCSP/report">只用Content-Security-Policy-Report-Only</a>
		li <a href="/startCSP/meta">只用meta</a>
		li <a href="/startCSP/both">都使用</a>